<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1">
    <name>Casino</name>
    <description>
    	Aplicación para jugar tragaperras
    </description>
    <author email="leonardisrojas@gmail.com" href="http://slicegroup.xyz">
            Slice Group
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="com.badrit.macaddress" spec="0.1.0" source="pgb" />
    <plugin name="org.apache.cordova.media" />
    <plugin name="Media" value="org.apache.cordova.AudioHandler" />

</widget>
